@tailwind base;
@tailwind components;
@tailwind utilities;

/*'Arial Rounded MT', */
div {
    font-family: 'Helvetica Neue', 'BCSans', 'Noto Sans', sans-serif;
}

h1,
h3,
button,
p1,
div.font-bold {
    font-family: 'Arial Rounded MT', 'Helvetica Neue', 'BCSans', sans-serif;
}


.cell-animation {
  animation: revealCharCell linear;
  animation-duration: 0.15s;
}

@keyframes revealCharCell {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
